* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline; }

html {
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  color: #b0ad9f; }

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: Column; }

header, p {
  width: 700px; }

a {
  font-size: 65%;
  font-weight: 100;
  text-decoration: none;
  color: #b0ad9f; }

.ligando {
  display: inline-block;
  margin-right: 5px;
  font-size: 110%;
  vertical-align: -2px; }

a:hover .ligando {
  transform-origin: center center;
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  color: #8cc665; }

@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(3.5deg); }
  4% {
    transform: translate(0, 0) rotate(-0.5deg); }
  6% {
    transform: translate(0, 0) rotate(-1.5deg); }
  8% {
    transform: translate(0, 0) rotate(4.5deg); }
  10% {
    transform: translate(0, 0) rotate(6.5deg); }
  12% {
    transform: translate(0, 0) rotate(0.5deg); }
  14% {
    transform: translate(0, 0) rotate(-4.5deg); }
  16% {
    transform: translate(0, 0) rotate(5.5deg); }
  18% {
    transform: translate(0, 0) rotate(-6.5deg); }
  20% {
    transform: translate(0, 0) rotate(1.5deg); }
  22% {
    transform: translate(0, 0) rotate(-5.5deg); }
  24% {
    transform: translate(0, 0) rotate(-4.5deg); }
  26% {
    transform: translate(0, 0) rotate(-0.5deg); }
  28% {
    transform: translate(0, 0) rotate(7.5deg); }
  30% {
    transform: translate(0, 0) rotate(-1.5deg); }
  32% {
    transform: translate(0, 0) rotate(4.5deg); }
  34% {
    transform: translate(0, 0) rotate(5.5deg); }
  36% {
    transform: translate(0, 0) rotate(1.5deg); }
  38% {
    transform: translate(0, 0) rotate(-2.5deg); }
  40% {
    transform: translate(0, 0) rotate(6.5deg); }
  42% {
    transform: translate(0, 0) rotate(4.5deg); }
  44% {
    transform: translate(0, 0) rotate(2.5deg); }
  46% {
    transform: translate(0, 0) rotate(4.5deg); }
  48% {
    transform: translate(0, 0) rotate(-5.5deg); }
  50% {
    transform: translate(0, 0) rotate(-6.5deg); }
  52% {
    transform: translate(0, 0) rotate(-4.5deg); }
  54% {
    transform: translate(0, 0) rotate(2.5deg); }
  56% {
    transform: translate(0, 0) rotate(-5.5deg); }
  58% {
    transform: translate(0, 0) rotate(-5.5deg); }
  60% {
    transform: translate(0, 0) rotate(-6.5deg); }
  62% {
    transform: translate(0, 0) rotate(6.5deg); }
  64% {
    transform: translate(0, 0) rotate(-1.5deg); }
  66% {
    transform: translate(0, 0) rotate(-5.5deg); }
  68% {
    transform: translate(0, 0) rotate(-2.5deg); }
  70% {
    transform: translate(0, 0) rotate(6.5deg); }
  72% {
    transform: translate(0, 0) rotate(3.5deg); }
  74% {
    transform: translate(0, 0) rotate(3.5deg); }
  76% {
    transform: translate(0, 0) rotate(-2.5deg); }
  78% {
    transform: translate(0, 0) rotate(-6.5deg); }
  80% {
    transform: translate(0, 0) rotate(1.5deg); }
  82% {
    transform: translate(0, 0) rotate(4.5deg); }
  84% {
    transform: translate(0, 0) rotate(0.5deg); }
  86% {
    transform: translate(0, 0) rotate(3.5deg); }
  88% {
    transform: translate(0, 0) rotate(5.5deg); }
  90% {
    transform: translate(0, 0) rotate(7.5deg); }
  92% {
    transform: translate(0, 0) rotate(-5.5deg); }
  94% {
    transform: translate(0, 0) rotate(7.5deg); }
  96% {
    transform: translate(0, 0) rotate(-2.5deg); }
  98% {
    transform: translate(0, 0) rotate(6.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
p {
  margin-top: 10px;
  text-align: right;
  font-size: 45%;
  font-weight: 100; }

.social-icons {
  position: absolute;
  bottom: 15px;
  right: 20px; }
  .social-icons a {
    font-size: 26px;
    margin-left: 5px; }

@media screen and (max-width: 415px) {
  header, p {
    display: none; }

  svg {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(90-deg);
    zoom: 1.2; } }
