
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/svg+xml" href="img/favicon.png">
    <!- Google Fonts ->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <!- Font-awesome ->
    <script src="https://use.fontawesome.com/a6899c6576.js"></script>
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body>
<div class="wrapper">
    {% githubchart site.github_username %}
    <p>FrontEndDesign</p>
</div>
<div class="social-icons">
    {% include social-icons.html %}
</div>
</body>
</html>
